.banner {
    height: 100vh;
    background-image: url('../../assets/bannerIT.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: bgAnimation 20s linear infinite;
    
  }
  
  .banner::before {
    content: ""; 
    position: absolute;
    top: 90px;
    width: 100%;
    height: 86vh;
    background-color: black;
    opacity: .4;
   
}

  .banner h1 {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9);
  }
   

  .navbar {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  
  }
/* Add the border bottom using a pseudo-element */


.nav-banner{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:transparent;
  color: White;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid gray;
}

/* Animate the border bottom on hover */
.navbar li:hover::after {
  width: 100%;
}
  
.navbar li {
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
}

.navbar li a:hover {
  text-decoration: underline;
  color: #f1c40f;
}
  
  .scroll-down {
    animation: fade-in 1s 2s forwards;
    opacity: 1;
    color: white;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .scroll-down:hover{
    color: #f1c40f;
  }
  
  @keyframes slide-in {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bgAnimation {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  .banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-radius: 30px;
    padding: 10px;
    background-color: rgba(180, 180, 180, 0.3);
    
  }
  
  .banner-text {
    position: relative;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #333;
  }
  
  .banner-text span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(50%, -50%);
    background-color: #f1c40f;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0;
  }

  .banner-text span:hover{
    background-color: rgb(106, 90, 205) ;
  }
  
  .banner-text.animate {
    animation: banner-text-animation 2s ease-in-out forwards;
  }
  
  @keyframes banner-text-animation {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    50% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
 


  @media only screen and (max-width: 768px) {
    .banner-container {
      height: 80px;
      width: 60%;
    }
    .banner-container h1{
      font-size:large;
    }
    .banner-text span{
      position: absolute;
      left: 20%;
      top: 20%;
      transform: translate(10%, -30%);
      background-color: #f1c40f;
      color: #fff;
      padding: 0.5rem;
      border-radius: 5px;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 1;
    }
    .banner::before {
      content: ""; 
      position: absolute;
      top: 90px;
      width: 100%;
      height: 73vh;
      background-color: black;
      opacity: .4;
    }
  }
  
  @media only screen and (max-width: 480px) {
    .banner-container {
      height: 80px;
      width: 100%;
      position: absolute;
      top: 170px;
    }
    .banner-container h1{
      font-size:small;
    }
  .scroll-down{
    display: inline;
    position: absolute;
    bottom: 0;
  }
  
  .banner-text span{
    position: absolute;
    left: 20%;
    top: 20%;
    transform: translate(10%, -30%);
    background-color: #f1c40f;
    color: #fff;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 1;
  }
  .banner::before {
    content: ""; 
    position: absolute;
    top: 90px;
    width: 100%;
    height: 73vh;
    background-color: black;
    opacity: .4;
   
}
    
  }


  